/* Using BEM for better css standardization and maintainability */
.body {
  min-height: 100vh;
  background-color: rgba(35, 35, 35, 0.9);
}

/* Using px (instead of rem) considering it is the unity displayed at the style guide */
.header {
  color: white;
  text-align: center;
  padding: 20px;
}

.header__img {
  width: 100px;
  height: 100px;
}
